.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  --width: 70%;
}

.content {
  width: var(--width);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 2rem;
}

.content > h1 {
  font-size: 3rem;
  margin: 1rem 0rem;
}

.content > h2 {
  font-size: 2rem;
  margin: 0.6rem 0rem;
}

.content label {
  margin: 0.5rem;
  width: 100%;
  font-weight: 500;
}

.group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
}

.aside {
  display: flex;
  flex-direction: column;
  width: calc(100% - var(--width));
  box-sizing: border-box;
  padding: 9.2rem 2rem;
}

.aside > button {
  width: 70%;
}

@media only screen and (max-width: 500px) {
  .content {
    width: 100%;
  }
  .aside {
    width: 100%;
    padding: 1rem 2rem;
  }
  .content label {
    margin: 0.5rem 0rem;
  }
  .group {
    flex-direction: column;
    margin: 0.5rem 0rem;
  }
}
