.button {
  box-sizing: border-box;
  padding: 1rem;
  background: #111111;
  color: white;
  border: none;
  border-radius: 0.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1em;
  margin: 0.8rem 0;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.button:active {
  scale: 0.8;
}

.default {
  composes: button;
}

.link {
  composes: button;
  background: transparent;
  color: inherit;
}

.pill {
  composes: button;
  background: white;
  color: #111111;
  border: solid 2px #111111;
}
