.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLogo {
  width: 3rem;
  margin-right: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 2rem;
  border-radius: 1em;
  align-items: center;
}

.logo {
  width: 6em;
  height: 6em;
  border-radius: 1.5em;
  margin: 1em;
  box-sizing: border-box;
  padding: 1em;
  background: white;
}

.main > p {
  width: 100%;
}

.center {
  text-align: center;
}

.list {
  width: 90%;
}

.btnGroup {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}

.hr {
  width: 100%;
  color: var(--color-bg-light);
  margin: 1.2rem 0rem;
}

@media only screen and (max-width: 500px) {
  .mainLogo {
    margin-right: 1rem;
  }
}
