.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2rem;
}

.head {
  width: 100%;
  font-size: 3rem;
  margin: 1rem 0rem;
}

.options {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.user {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.7rem 1rem;
}

.user:nth-child(odd) {
  background: var(--color-bg-light);
}

.topUser {
  font-weight: 600;
  color: var(--color-hero);
  border-bottom: solid 2px var(--color-hero);
}

.idSpan {
  width: 10%;
}

.nameSpan {
  width: 25%;
}

.emailSpan {
  width: 25%;
}

.rollSpan {
  width: 20%;
}

.courseSpan {
  width: 20%;
}

@media only screen and (max-width: 500px) {
  .options {
    justify-content: flex-start;
  }
  .rollSpan,
  .courseSpan {
    display: none;
  }
  .nameSpan {
    width: 40%;
  }
  .emailSpan {
    width: 50%;
  }
}
