.input {
  border: solid 2px transparent;
  border-radius: 0.3rem;
  background: var(--color-bg-light);
  box-sizing: border-box;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  margin: 0.5rem 0rem;
}

.input:focus {
  border-color: #c2c1c1;
}

.input:disabled {
  color: #2f2f2f;
  background: #d1d1d1;
}

.text {
  composes: input;
}

.select {
  composes: input;
}

.label {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.3rem 0rem;
}

.labelSpan {
  margin: 0.2em 0.5em;
  font-size: 1rem;
}
