.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  font-size: 1.2em;
  box-sizing: border-box;
  padding: 4em 2em;
  background-color: #f1f1f1;
  border-radius: 1em;
}

.btnGroup {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
